<%- include("_header") -%>

<h1>Customer Import</h1>

<h4>Total number of records in the database: <%= totRecs %></h4>

<h4>Select a file with customers for database insert:</h4>

<form>
    <input type="file" name="filename" id="filename" required><p></p>
    <input type="submit"  value="Import Customers">
</form>
<p id="result"></p>
<p id="errors"></p>

<script>
    /*
    TODO:
    -Test
    -Document
    -Deploy
    -Submit
    */
    var gFileReader = new FileReader();
    gFileReader.onload = function(){ loadCustomers( gFileReader.result ); }
    var gCustomers = [];
    var gSendIdx = 0;
    var gSuccessCount = 0;
    var gErrorCount = 0;

    function loadCustomers( result )
    { 
        document.getElementById('result') .innerHTML="";
        gCustomers = [];
        const lines = result.split(/\r?\n/);
        for( i = 0 ; i <  lines.length; ++i )
        {
            fields = lines[i].split(",");
            var customer =
            { 
                cusId : fields[ 0 ],
                cusFname : fields[ 1 ],
                cusLname : fields[ 2 ],
                cusState : fields[ 3 ],
                cusSalesYTD : fields[ 4 ],
                cusSalesPrev : fields[ 5 ]
            };
            gCustomers.push( customer );
        }
    } 

    function displayProgress( resultElement )
    {
        resultElement.innerHTML = "<h3>Import Summary</h3>";
        resultElement.innerHTML += `<b>Records Processed:</b> ${gSendIdx}<br/>`;
        resultElement.innerHTML += `<b>Records Inserted Successfully:</b> ${gSuccessCount}<br/>`;
        resultElement.innerHTML += `<b>Records Not Inserted:</b> ${gErrorCount}<br/>`;
    }

    const fileSelector = document.getElementById('filename');
    fileSelector.addEventListener('change', (event) => {
        gFileReader.readAsText(event.target.files[0]); 
    });

    if( fileSelector.files.length > 0 )
    {
        gFileReader.readAsText(fileSelector.files[0]);
    }

    function sendNextRequest()
    {
        if( gSendIdx < gCustomers.length )
        {
            var formData = new FormData();
            formData.append( "cusId", gCustomers[ gSendIdx ].cusId );
            formData.append( "cusFname", gCustomers[ gSendIdx ].cusFname );
            formData.append( "cusLname", gCustomers[ gSendIdx ].cusLname );
            formData.append( "cusState", gCustomers[ gSendIdx ].cusState );
            formData.append( "cusSalesYTD", gCustomers[ gSendIdx ].cusSalesYTD );
            formData.append( "cusSalesPrev", gCustomers[ gSendIdx ].cusSalesPrev );

            // Send form data to the server with an asynchronous POST request
            fetch("/create", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(result => {
                const resultElement = document.getElementById("result");
                const errorsElement = document.getElementById("errors");
                if (result.trans === "error")
                {
                    errorsElement.innerText += `${result.result}\n`;
                    ++gErrorCount;
                }
                else
                {
                    resultElement.innerText = result.result;
                    ++gSuccessCount;
                };

                ++gSendIdx;
                displayProgress( resultElement );
                sendNextRequest();
            })
            .catch(err => {
                const resultElement = document.getElementById("result");
                const errorsElement = document.getElementById("errors");

                resultElement.textContent = `Error: ${err.message}`;
                errorsElement.textContent += `Error: ${err.message}`;

                ++gErrorCount;
                ++gSendIdx;

                displayProgress( resultElement );
                sendNextRequest();
            });    
        }
    }
    
    document.querySelector("form").addEventListener("submit", e => {
      e.preventDefault();

      if( gCustomers.length <= 0 )
      {
        alert("Please Select a File!");
      }
      else
      {
        document.getElementById('result') .innerHTML="<h3>Waiting for Results...</h3>";
        document.getElementById('errors') .innerText="Errors:\n";
        gSendIdx = 0;
        gSuccessCount = 0;
        gErrorCount = 0;
        sendNextRequest();
      }
    });
    </script>

<%- include("_footer") -%></input>